#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
    max-width: 100%;
}

#content-container {
    margin: 50px 300px;
}

.uptext {
    margin: 0;
}

.title {
    margin-top: 15px;
    font-size: 42px;
}

.view-more-container {
    width: 100%;
    position: relative;
    font-size: 16px;
    color: #a73b24;
    text-align: right;
    justify-content: right;
    display: flex;
    text-decoration: none;
}

#news-container .news-latest,
#albums-container .albums-latest,
#categories-container .categories-latest {
    line-height: 100%;
}

/* news */
.news-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.news-title {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    margin-top: 20px;
}

.hover-underline-animation {
    position: relative;
    color: darkred;
    text-decoration: none;
    transition: color 0.3s ease;
    justify-content: center;
}

.hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: darkred;
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.hover-underline-animation:hover {
    color: #b22222;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.sithan-kku-festival-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    width: 100%;
    margin: 20px auto;
    justify-content: center;
}

.sithan-kku-festival-parent img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* album */
#albums-container {
    margin-top: 50px;
}

.albums {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 8px;
}

/* 
@media (max-width: 1200px) {
    .albumcontainer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .albumcontainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .albumcontainer {
        grid-template-columns: 1fr;
    }
} */

.the-album {
    margin: 0px;
}

.album-thumb {
    margin-bottom: 6px;
    display: grid;

}

.album-cover {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.album-title {
    letter-spacing: 0.07em;
    font-size: 18px;
}

.album-qty {
    font-size: 14px;
    letter-spacing: 0.07em;
    margin-bottom: 5px;
    color: #939393;
}

/* category */
#categories-container {
    margin-top: 50px;

}

.catagories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 40px 8px;

}

.the-catagory {
    padding: 0px 0px 20px 0px;
    background-color: #d6d6d6;
    height: 100%;
}

.catagory-thumb {
    margin-bottom: 6px;
    display: grid;
}


.catagory-title {
    letter-spacing: 0.07em;
    font-size: 18px;
    padding: 20px;
}

.category-cover {
    width: 100%;
    height: auto;
    object-fit: cover;
}