.header {
    font-synthesis: none;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease, height 0.3s ease;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 100px;
    max-width: 100%;
    transition: margin 0.3s ease;

}

.header.scrolled .header-container {
    margin: 0 150px;
}

.header ul li a {
    transition: font-size 0.3s ease;
}

.header.scrolled {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    height: 50px;
}

.header.scrolled ul li a {
    font-size: 16px;
}

.header.scrolled .logo-white {
    height: 50px;
    object-fit: contain;
}

.header.scrolled .login-btn {
    background: linear-gradient(180deg, rgba(167, 59, 36, 0.6) 6.17%, rgba(128, 115, 115, 0) 70%), #552e2e !important;
}

.header.scrolled .login-btn:hover {
    background: linear-gradient(180deg, rgba(180, 57, 29, 0.6) 6.17%, rgba(194, 190, 190, 0) 70%), #4e0202 !important;
}

.header.scrolled .navbar ul li a:hover {
    color: #f0a500;
}


.logo-white {
    height: 70px;
    object-fit: contain;
    transition: height 0.3s ease, filter 0.5s ease;
}

.logo-white:hover {
    object-fit: contain;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

.navbar-container {
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 10px 50px;
    margin: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;

}

.navbar ul li a:hover {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.5));
}

.login-btn {
    background: linear-gradient(180deg, rgba(152, 36, 10, 0.6) 6.17%, rgba(128, 115, 115, 0) 70%), #ab7e7e !important;
    border-radius: 16px !important;
    padding: 5px 30px !important;
    color: white !important;
    font-weight: bold !important;
    transition: 0.5s !important;

}

.login-btn:hover {
    background: linear-gradient(180deg, rgba(196, 62, 31, 0.6) 6.17%, rgba(194, 190, 190, 0) 70%), #5e0404 !important;
}

.login-icon {
    width: 16px;
    height: 100%;
    position: relative;
    object-fit: cover;
    margin-right: 8px;
    margin-top: 2px;
}

.header .hamburger-button {
    display: none;
}

.header .login-btn-mobile {
    display: none;
}

/* แก้ปัญหา Navbar ข้อความตกบรรทัด */
@media (max-width: 1124px) {

    .header {
        font-synthesis: none;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease, height 0.3s ease;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 15px;
        width: 100%;
        max-width: 100%;
        transition: margin 0.3s ease;
    }

    .header.scrolled .header-container {
        margin: 0px;
        padding: 0px 15px;
    }
}

/* เปลี่ยนไปใช้ Hamburger Menu */
/* ซ่อน Navbar และแสดง Hamburger Menu */
@media (max-width: 955px) {

    .header {
        font-synthesis: none;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease, height 0.3s ease;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px 15px;
        width: 100%;
        max-width: 100%;
        transition: margin 0.3s ease;
    }

    .login-btn-mobile {
        background: linear-gradient(180deg, rgba(152, 36, 10, 0.6) 6.17%, rgba(128, 115, 115, 0) 70%), #ab7e7e !important;
        border-radius: 16px !important;
        padding: 5px 0px !important;
        color: white !important;
        font-weight: bold !important;
        transition: 0.5s !important;
        width: 300px !important;
        max-width: 100% !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;

    }

    .header.scrolled .login-btn-mobile {
        background: linear-gradient(180deg, rgba(167, 59, 36, 0.6) 6.17%, rgba(128, 115, 115, 0) 70%), #552e2e !important;
    }

    .header.scrolled .login-btn-mobile:hover {
        background: linear-gradient(180deg, rgba(180, 57, 29, 0.6) 6.17%, rgba(194, 190, 190, 0) 70%), #4e0202 !important;
    }

    .login-btn-mobile:hover {
        background: linear-gradient(180deg, rgba(196, 62, 31, 0.6) 6.17%, rgba(194, 190, 190, 0) 70%), #5e0404 !important;
    }

    .login-icon-mobile {
        width: 16px;
        position: relative;
        object-fit: cover;
        align-items: center;
        margin-right: 8px;
    }

    .header.scrolled .header-container {
        margin: 0px;
        padding: 0px 15px;
    }

    .navbar-container {
        display: none;
    }

    .login-btn-mobile {
        display: block;
    }

    .logo-white {
        height: 50px;
        object-fit: contain;

    }

    .header .hamburger-button {
        display: flex;
        align-items: center;

    }
}


/* ปรับขนาดให้เหมาะสม แก้ปัญหาปุ่ม Login ตกบรรทัด */
@media (max-width: 420px) {
    .logo-white {
        height: 40px;
        object-fit: contain;
        transition: height 0.3s ease, filter 0.5s ease;
    }

    .login-btn-mobile {
        font-size: 12px !important;
    }

    .login-icon-mobile {
        width: 12px !important;
    }

    .header.scrolled .logo-white {
        height: 35px;
        object-fit: contain;
    }
}

/* แก้ปัญหาปุ่ม Login กว้างเกินเหมาะสม */
/* ซ่อน icon และทำให้ข้อความเหลือแค่คำว่า Login */
@media (max-width: 370px) {
    .login-icon-mobile {
        display: none;
    }

    .login-btn-mobile::before {
        content: "Login";
    }

    .login-btn-mobile img,
    .login-btn-mobile span {
        display: none;
    }

    .header.scrolled .logo-white {
        height: 40px;
        object-fit: contain;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap');

.drawer-list {
    font-family: 'Prompt';
}

